.container{
    height: 100vh;
    display: flex;
    gap: 0.4em;
    flex-direction: column;
    .background-top{
        background-color: $green;
        flex: 2;
    }
    .background-bottom{
        background-color: $lilac;
        flex: 4;
    }
    .form{
        background-color: $broken-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 85%;
        height: fit-content;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1.5em 0;
        img{
            width: 175px;
        }

        .welcome{
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                margin: 0;
                font-size: 3em;
            }
            span{
                text-transform: uppercase;
                font-size: 0.75em;
                width: 100%;
                letter-spacing: 2px;
                text-align: center;
            }
        }

        .call-to-action-form{
            letter-spacing: 2px;
            margin: 1em 0;
        }

        .form-action{
            display: flex;
            gap: 1em;
            flex-direction: column;
            span{
                font-family: $font-family-text;
                text-align: center;
                margin-top: 1em;
                color: $grey;
                a{
                    color: $blue;
                }
            }
        }
        form{
            display: flex;
            flex-direction: column;

            input[type='text'],input[type="email"], input[type="password"]{
                background-color: white;
                font-family: $font-family-text;
                border: 2px solid $light-grey;
                color: $light-grey;
                font-size: 1em;
                text-align: center;
                border-radius: 5px;
                margin-bottom: 1em;
                text-transform: uppercase;
                padding: 0.5em;
                letter-spacing: 2px;
                &::placeholder{
                    color: $light-grey;
                }

            }

            button{
                font-family: $font-family-text;
                margin-top: 1em;
                background-color: $blue;
                border: 2px solid $blue;
                color: $broken-white;
                font-size: 1em;
                border-radius: 5px;
                text-transform: uppercase;
                padding: 0.5em;
                letter-spacing: 2px;


            }
        }
    }
    .invalid-feedback{
        color: red;
        margin-bottom: 1em;
        text-align: center;

    }
}
