footer{
    img{
        width: 100px;
        position: absolute;
        top: -100px;
    }
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $green;
    display: flex;
    justify-content: center;
    .copyright{
        padding: 0.5em;
        color: white;
    }
}
