// Typography
$font-family-titels: 'bodoni';
$font-family-text: 'glacial';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$grey: #77838d;
$green: #abd1c9;
$blue: #97b3d0;
$black: #282a2b;
$light-grey: #aab8c4;
$lilac: #dfdce5;
$broken-white: #f6f6f4;
