main{
    .single-page{
        h1{
            border-bottom: 2px solid $blue;
            width: max-content;
            padding-bottom: 0.2em;
        }
        p{
            margin-top: 0;
        }
    }

    .faq-item{
        display: flex;
        flex-direction: column;

        .faq-question{

            &:after{
            content: " >>>>"
        }
        }
    }
}
